@section Title {
    About us
}

@section PreTitle {
    <h3>Sono il pretitle non obbligatorio</h3>
}

@section Scripts {
    <script>
        console.log("ciao");
    </script>
}

<h2>Sono la pagina About Us</h2>